.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    /* background-color: #eee; */
    border-color: #337ab7;
}