@import 'main.css';
@import 'terminal.css';
@import 'dropdown.css';
@import 'socialIcons.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


html{	
	height: 100%;
        overflow-y: scroll;
   background-color: #f98552;
background-image: url(../img/background.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.avatar {
   margin: 0 auto;
}
    .avatar .img-responsive  {
		margin: 0 auto;
        max-width: 300px;
        max-height: 300px;
        border-radius: 225px;
		border-style: outset;
		border-color: #1111, #808080;
		border-width: 0px;
		

    }

@media (max-width: 992px) {
	.avatar .img-responsive{
	max-width: 250px;
        max-height: 250px;
	}	
}

@media (max-width: 768px) {
	.avatar .img-responsive{
	max-width: 150px;
        max-height: 150px;
	}	
	
}
	
	
body{
	background: none;
	line-height: 1,5;
	color: #f5f5f5;
	font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin-top: 0;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

p{
	font-size: 15px;
	margin-bottom: 1rem;
}

.navbar-brand, .navbar-nav>li>a{
	color: #f5f5f5;
	font-weight: bold;
}

.navbar-brand:hover, .navbar-nav>li>a:hover{
	color: #f5f5f5;
	font-weight: bold;
	background: none;
}

.navbar-nav>li>a:after{
	content: '/';
	margin-left: 30px;
}

.navbar-nav>li:last-child> a:after{
	content: '';
}

.navbar-toggle{
	background: #333333;
}

.navbar-toggle .icon-bar{
	background: #f5f5f5;
}

@media (max-width: 768px) {
	.navbar-nav>li>a:after{
		content: '';
	}
	.navbar-nav>li>a{
		border-radius: 4px;
		margin-bottom: 3px;
	}
}

.container .jumbotron, .container-fluid .jumbotron{
	padding-left: 0;
	padding-right: 0;
}

.jumbotron{
	background: none;
	margin-top: 75px;
	margin-bottom: 75px;
}

.jumbotron h1{
	font-weight: bold;
	font-size: 120px;
}

.jumbotron .lead{
	font-size: 32px;
}

@media (max-width: 992px) {
	.jumbotron h1{
	font-size: 72px;
	}	
}

@media (max-width: 768px) {
	.jumbotron h1{
	font-size: 40px;
	}	
	.jumbotron .lead{
	font-size: 20px;
	}	
}

.portfolio-title{
	padding: 10px 15px 10px 0px;
	font-weight: bold;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background: #84dfa9;
	color: #474747;
}

.nav-pills a{
	color: #f5f5f5;
	margin-bottom: 1rem;
}

.nav>li>a:focus, .nav>li>a:hover{
	background: none;
}

.portfolio-item{
	margin-bottom: 1rem;
}

.portfolio-item {
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
	border-radius: 4px;
}

.portfolio-item:hover {
	 cursor: pointer;
	-webkit-filter: grayscale(20%); 
    filter: grayscale(20%);
	border-radius: 4px;	
}

.site-footer span {
	margin-right: .5em;
}

.site-footer{
	margin-bottom: 3rem;
}

.posts {
	margin-bottom: 3rem;
}

.post {
	margin-bottom: 1rem;
}

.post img{
	-webkit-filter: grayscale(20%); 
    filter: grayscale(20%);
	border-radius: 4px;
	margin-bottom: 1rem;
}

.post:hover img{
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
	border-radius: 4px;
	margin-bottom: 1rem;
}

.post-excerpt header h3{
	margin-bottom: .25rem;
}

a { 
	color: #84dfa9;
    font-weight: bold;
	margin-bottom: 1rem;
}

a:hover, a:focus {
    color: #95a4a9;
	text-decoration:none;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

ul, ol, dl {
    list-style-type: none;
}

.post-excerpt header a{
	color: #f5f5f5;
}

.post-excerpt .header a:hover{
	text-decoration: none;
	
}

.post-excerpt .post-meta, post-excerpt .post-meta a {
	color: #a3a3a3;
}

.post-excerpt .post-meta a {
	border-bottom: 1px dotted #111;
}

.post-excerpt .post-meta a:hover {
	color: #f5f5f5;
	border: 0;
	text-decoration: none;
	border-bottom: 1px dotted #838383
	
}

.sidebar {
	margin-bottom: 1rem;
}

.sidebar .widget {
	margin-bottom: 3rem;
}

.sidebar ul {
	padding:0;
	list-style: none;
}

.sidebar li {
	margin-bottom: 0.5rem;
}


.sidebar li a {
	color: #696969;
}


.sidebar li a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #838383
}

.sidebar img {
	margin-bottom: 1rem;
	border-radius: 4px;
	-webkit-filter: grayscale(20%); 
    filter: grayscale(20%);
}

.sidebar img:hover {
	margin-bottom: 1rem;
	border-radius: 4px;
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.contact-form {
	background: #111;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 4px;
	margin-bottom: 3rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  
}

.overlay:hover {
  opacity: 1;
    
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    padding: 0.2em;
    box-shadow: 0.2em 2 2 rgba(#84dfa9,0.7), -0.2em 2 2 rgba(#84dfa9,0.7);
    background-color: #84dfa9;
    background-color: rgba(#84dfa9,0.7);
    border-radius: 4px;	
}



